{%  extends "base.html.twig" %}
{% block body %}

<h2>Reporty</h2>
<h3>Přehled zemí (destinací), k nim nejčastější typ zájezdu a cenová kategorie ve vztahu k délce zájezdu (na 7,10,14,30 a více dnů) za definovaný časový interval</h3>

<div class="well">
    <form action="" method="GET">
        <div class="input-append date" id="datetimepicker1">
            <input data-format="dd/MM/yyyy" type="text" value="{{ beginDate.format('d/m/Y') }}" name="beginDate">
       <span class="add-on">
    <button type="button" class="btn btn-default btn-lg btn-interval">
        Od
    </button>
    </span>
        </div>

        <div class="input-append date" id="datetimepicker2">
            <input data-format="dd/MM/yyyy" type="text" value="{{ endDate.format('d/m/Y') }}" name="endDate">
        <span class="add-on">
            <button type="button" class="btn btn-default btn-lg btn-interval">
                Do
            </button>
    </span>
        </div>
        <button type="submit" class="btn btn-default btn-lg btn-interval">
            Nastavit interval
        </button>
    </form>
</div>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Destinace</th>
        <th>Vypsanych zajezdu</th>
        <th>Obrat zajezdu</th>
        <th>Prumerna cena zajezdu</th>
        <th>Počet zájezdů</th>
    </tr>

    {% for country in countries %}

    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ country.name }}</td>
        <td>{{ country.tripsCount }}</td>
        <td>{{ country.totalPrice|number_format(2) }}</td>
        <td>{% if country.totalCount == 0 %} N/A {% else %} {{ (country.totalPrice / country.totalCount)|number_format(2) }} {% endif %}</td>
        <td>{{ country.totalCount }}</td>
    </tr>

    {% endfor %}
</table>
<button type="button" class="btn btn-default">Export</button>

{% endblock %}